.rank-info{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.rank-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 10vh;
    width: 10vh;
    border-radius: 100%;
}

.rank{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rankIcons{
    margin-top: 1vh;
    height: 14vh;
    width: 14vh;
}