.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  top: 0;
  position: fixed;
  background-color: rgb(232, 223, 167);
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  z-index: 1;
}

.App-link {
  color: #61dafb;
  margin-right: 1vw;
}

.logo-tamo{
  margin-top: 0.8vh;
  width: 12vh;
}

.titre-teemode{
  height: 10vh;
  margin-top: 2vh;
  filter: drop-shadow(1px 1px 1px black);
}

.home-body{
  display: flex;
  margin-top: 10vh;
  background-color: beige;
  min-height: 120vh;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.logo-lol{
  height: 25vh;
  margin-top: 5vh;
  filter: drop-shadow(2px 2px 2px black);
  z-index: 0;
}

.match{
  width: 60vw;
  height: auto;
  /* background-color: red; */
  color: white;
  border-radius: 1vh;
  margin: 2vh;
}
.win-true{
  background-color: rgb(19, 19, 162);
}
.win-false{
  background-color: rgb(164, 5, 5);
}
.champIcons{
  width: 2vw;
}

.sumIcon{
  width: 6vw;
  height: 6vw;
  border-radius: 100%;
  border: solid #F5F5DC;
}

.searched-infos{
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sum-data{
  position: sticky;
  height: 85vh;
  width: 25vw;
  background-color: #E8DFA7;
  top: 13vh;
  margin: 2vh;
  border-radius: 1vh;
}

.sum-infos{
  display: flex;
  flex-direction: row;
  margin: 2vh;
  justify-content: space-evenly;
}

.matches_and_infos{
  display: flex;
  flex-direction: column;
  align-items: center
}

.win-and-loose{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.winners{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start
}

.loosers{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start
}